<?php  Block::put('breadcrumb') ?>
<ul>
    <li>
        <?php
        if(isset($breadcrumb['home']['url'])):  ?>
        <a href="<?=  $breadcrumb['home']['url'] ?>">
            <?= e(trans($breadcrumb['home']['title'])) ?>
        </a>
        <?php else:

        ?>
        <?= e(trans(isset($breadcrumb['home'] ) ?  $breadcrumb['home']['title'] : '')) ?>
        <?php endif   ?>
    </li>

    <?php
       if(isset($breadcrumb['child']) && !empty($breadcrumb['child'])):
            foreach($breadcrumb['child'] as $key => $child):
    ?>
                <?php   if(isset($child['url']) && !empty($child['url'])):   ?>
                        <li>
                            <a href= "<?=  $child['url']  ?>" >
                                <?= $child['title'] ?>
                            </a>
                        </li>
                <?php else: ?>

    <li><?= isset($child['title']) && !empty($child['title']) ? $child['title']  : ''?></li>
                <?php endif ?>
            <?php endforeach ?>
        <?php endif ?>

</ul>
<?php Block::endPut() ?>