<div class="layout-row min-size">
    <div class="callout callout-warning">
        <div class="header">
            <i class="icon-warning"></i>
                <?php if(isset($hints['title']) && !empty($hints['title'])) : ?>
                    <h3><?= $hints['title'] ?></h3>
                <?php endif ?>
                <?php
                    if(isset($hints['content']) && !empty($hints['content'])): ?>
                    <ul class="list-unstyled">
                <?php  if(is_array($hints['content'])):
                            foreach($hints['content'] as $content):
                ?>
                                <li><?= $content ?></li>
                            <?php endforeach ?>
                        <?php else: ?>
                            <li><?= $content ?></li>
                        <?php endif ?>
                    </ul>
                    <?php endif ?>
        </div>
    </div>
</div>
