
<?php
$breadcrumb = isset($breadcrumb) ? $breadcrumb : [];
$this -> makeLayout(\Common\Helpers\Functions::common_path('layouts/_breadcrumb'),['breadcrumb' => $breadcrumb]) ?>
<?= Form::ajax('onImport', ['files' => true,
    'id' => 'themeImportForm',
    'data-popup-load-indicator' => true,
]) ?>

    <input type="hidden" name="mode" value="import" />

    <div class="modal-header">
        <h4 class="modal-title">Import</h4>
    </div>

    <?php if (!$this->fatalError): ?>


        <div class="modal-body">
            <?= $importWidget->render() ?>

            <div class="form-buttons">
                <div class="loading-indicator-container left">
                    <button
                        type="submit"
                        data-request="onImport"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Importing..."
                        class="btn btn-primary">
                        Import
                    </button>
                    <span class="btn-text">
                        <?= e(trans('backend::lang.form.or')) ?>
                        <a href="<?= Backend::url($cancel_url) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                    </span>
                </div>
            </div>
        </div>

    <?php else: ?>

        <div class="modal-body">
            <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>
        </div>

    <?php endif ?>

<?= Form::close() ?>
