<?php
if(isset($breadcrumb)){
    $breadcrumb = isset($breadcrumb) ? $breadcrumb : [];
    $this -> makeLayout(\Common\Helpers\Functions::common_path('layouts/_breadcrumb'),['breadcrumb' => $breadcrumb]);
}

?>
<div data-control = 'toolbar'>
    <?php
    $create_url = isset($create_url) && !empty($create_url) ? Backend::url($create_url) : $_SERVER['REQUEST_URI'].'/create' ;
    $check_permission_create = Common\Helpers\Functions::checkActionPermission($this,'create');
    $check_permission_export = Common\Helpers\Functions::checkActionPermission($this,'export');
    $check_permission_import = Common\Helpers\Functions::checkActionPermission($this,'import');
    if(isset($bulk_list)){
        foreach($bulk_list as $key => $action){
            $check_permission = Common\Helpers\Functions::checkActionPermission($this,$key);
            if(!$check_permission){
                unset($bulk_list[$key]);
            }
        }
    }
?>
    <a href="<?= $create_url  ?>" class="btn btn-primary oc-icon-plus <?php echo   (isset($hide_create) && !empty($hide_create)) || !$check_permission_create  ? 'hide' : '' ?>">
        <?= e(trans('common::lang.btn.create')) ?>
    </a>
    <?php if(isset($bulk_list) && count($bulk_list)>0): ?>
    <div class="btn-group dropdown dropdown-fixed" data-control="bulk-actions">
        <button
                data-primary-button
                type="button"
                class="btn btn-default"
                data-request="onBulkAction"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-request-success="$(this).prop('disabled', true).next().prop('disabled', true)"
                data-stripe-load-indicator>
            Bulk actions
        </button>
        <?php if(count($bulk_list )>1): ?>
        <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <?php endif ?>
        <ul class="dropdown-menu" data-dropdown-title="Bulk actions">
            <?php foreach($bulk_list as $key=>$list ): ?>

            <li>
<!--                <a href="javascript:;" class="<?= e($list['icon']) ?>" data-action="<?= e($key) ?>" data-confirm="<?= isset($list['custom_alert'])? e($list['custom_alert']):e($list['label'].' the selected records?'); ?> ">-->
<!--                    <?= e($list['label']).' selected' ?>-->
<!--                </a>-->
                <a href="javascript:;" class="<?= e($list['icon']) ?>" data-action="<?= e($key) ?>" data-confirm="<?= e(trans('common::lang.message.selected_confirm_1')).e(trans('backend::lang.bulk_list.'.$list['lang_key'])).e(trans('common::lang.message.selected_confirm_2')) ?>">
                    <?= e(trans('backend::lang.bulk_list.'.$list['lang_key'])).' '.e(trans('common::lang.btn.selected')) ?>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <?php endforeach ?>
        
        </ul>
    </div>
    <?php endif ?>

   <?php if($check_permission_import) :   ?>
        <?php if(!$hide_import): ?>
    <a href="<?= $import_url  ?>" class="btn btn-primary oc-icon-clone">
        Import
    </a>
        <?php endif ?>
    <?php endif ?>

        
   <?php if($check_permission_export) :   ?>
        <?php if(!$hide_export): ?>
    <div class="btn-group dropdown dropdown-fixed" data-control="bulk-actions">

        <div id="loading" class="btn btn-default loading-indicator-container" style="width: 100%;min-height: 100%;display:none;z-index:99;position:absolute;border-radius: 3px;">
            <div class="loading-indicator size-small" style="margin-left: 10px;">
                <span></span> <div style="color:white;font-size: 13px;">Exporting...</div>
            </div>
        </div>
        <button style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;" 
                data-primary-button
                type="button"
                class="btn btn-default oc-icon-table"
                data-request="onExport"
                data-request-flash
                data-request-loading="#loading">
            Bulk actions
        </button>
        <?php if(count($export_file_type )>1): ?>
        <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <?php endif ?>
        <ul class="dropdown-menu" data-dropdown-title="Bulk actions">
            <?php foreach($export_file_type as $key=>$type ): ?>
            <li>
                <a href="javascript:;" class="" data-action="<?= e($type) ?>" data-confirm="<?= e('Export the records?') ?>">
                    Export as <?= $type ?>
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <?php endforeach ?>
        </ul>
    </div>
        <?php endif ?>
    <?php endif ?>

    <?php if(isset($custom_toolbar) && !empty($custom_toolbar)): ?>
        <?= $this -> makeLayout($custom_toolbar) ?>
    <?php endif ?>

</div>