<?php
$breadcrumb = isset($breadcrumb) ? $breadcrumb : [];
$this -> makeLayout(\Common\Helpers\Functions::common_path('layouts/_breadcrumb'),['breadcrumb' => $breadcrumb]) ?>

<?php if(!$this->fatalError) :?>

<?php Block::put('form-contents') ?>
<div class="layout-row min-size">
    <?= $this->formRenderOutsideFields() ?>
</div>
<div class="layout-row">
    <?= $this->formRenderPrimaryTabs() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.creating_name', ['name'=>$formRecordName])) ?>"
                class="btn btn-primary <?php  echo $hide_create ? 'hid' : '' ?>">
            <?= e(trans('backend::lang.form.create')) ?>
        </button>
        <?php if($show_save_redirect): ?>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.creating_name', ['name'=>$formRecordName])) ?>"
                class="btn btn-default">
            <?= e(trans('backend::lang.form.create_and_close')) ?>
        </button>
        <?php endif ?>
        <?php $btnCancel = Common\Helpers\Functions::common_path('/layouts/btn_cancel') ?>
        <?= $this -> makePartial($btnCancel) ?>
    </div>
</div>

<?php Block::endPut() ?>
<?php Block::put('form-sidebar') ?>
<div class="hide-tabs"><?= $this->formRenderSecondaryTabs() ?></div>
<?php Block::endPut() ?>
<?php Block::put('body') ?>

<?= Form::open(['class'=>'layout stretch']) ?>
<?php
$layout = $with_side ? 'layouts/form-with-side' : 'layouts/form-no-side';

$common_form = Common\Helpers\Functions::common_path($layout)
?>
<?= $this->makeLayout($common_form) ?>

<?= Form::close() ?>
<?php Block::endPut() ?>
<?php else: ?>
<div class="padded-container">
    <p>
        <a href="<?= Backend::url('winson/test/articles') ?>" class="btn btn-default">
            <?= e(trans('winson.test::lang.articles.return_to_list')) ?>
        </a>
    </p>
</div>
<?php endif ?>