<div class="layout responsive-sidebar">
    <div class="layout-cell">

        <div class="layout">
            <?php if ($breadcrumbContent = Block::placeholder('breadcrumb')): ?>
            <!-- Breadcrumb -->
            <div class="control-breadcrumb breadcrumb-flush">
                <?= $breadcrumbContent ?>
            </div>
            <?php endif ?>
            <div class="row">
                <?php if($form_layout_center): ?>
                <div class="col-md-8 col-md-offset-2">
                    <!-- Content -->
                    <div class="layout-row">
                        <div class="padded-container layout">
                            <?= Block::placeholder('form-contents') ?>
                        </div>
                    </div>
                </div>
                <?php else: ?>
                    <!-- Content -->
                    <div class="layout-row">
                        <div class="padded-container layout">
                            <?= Block::placeholder('form-contents') ?>
                        </div>
                    </div>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>