<?php
$breadcrumb = isset($breadcrumb) ? $breadcrumb : [];
$this -> makeLayout(\Common\Helpers\Functions::common_path('layouts/_breadcrumb'),['breadcrumb' => $breadcrumb])
?>

<?php if (!$this->fatalError): ?>
    <?php Block::put('form-contents') ?>
        <!-- hints -->
        <?php if(isset($hints) && !empty($hints)): ?>
            <?= $this -> makePartial(Common\Helpers\Functions::common_path('layouts/hint_tips')) ?>
        <?php endif ?>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <?= $this->makePartial(Common\Helpers\Functions::common_path('layouts/preview_toolbar')) ?>
            </div>
        </div>

        <div class="layout-row min-size">
            <?= $this->formRender(['preview' => true, 'section' => 'outside']) ?>
        </div>

        <div class="layout-row">
            <?= $this->formRender(['preview' => true, 'section' => 'primary']) ?>
        </div>

    <?php Block::endPut() ?>

    <?php Block::put('form-sidebar') ?>
        <div class="hide-tabs"><?= $this->formRender(['preview' => true, 'section' => 'secondary']) ?></div>
    <?php Block::endPut() ?>

    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>
<?php
$layout = $with_side ? 'layouts/form-with-side' : 'layouts/form-no-side';

$common_form = Common\Helpers\Functions::common_path($layout)
?>
<?= $this->makeLayout($common_form) ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>

<?php else: ?>

    <div class="padded-container container-flush">
        <p class="flash-message static error"><?= e($this->fatalError) ?></p>
        <p><a href="<?= Backend::url('rainlab/user/users') ?>" class="btn btn-default"><?= e(trans('rainlab.user::lang.users.return_to_list')) ?></a></p>
    </div>

<?php endif ?>
