<?php
if(isset($breadcrumb)){
    $breadcrumb = isset($breadcrumb) ? $breadcrumb : [];
    $this -> makeLayout(\Common\Helpers\Functions::common_path('layouts/_breadcrumb'),['breadcrumb' => $breadcrumb]);
}
?>

<?php if (!$this->fatalError): ?>

    <?php Block::put('form-contents') ?>

        <div class="layout-row min-size">
          <!--  <div class="form-buttons">
            <?php if(isset($bulk_list)): ?>
                <?php foreach($bulk_list as $key => $bulk):
                    $check_permission = Common\Helpers\Functions::checkActionPermission($this,$key);
                    if($check_permission):
                ?>
                <button
                    type="button"
                    data-request="onBulk"
                    data-request-data="bulk:'<?= $key ?>',
                        <?php if(isset($bulk['redirect']) && isset($bulk['redirect']['enable']) && $bulk['redirect']['enable']): ?>
                            redirect:1
                        <?php else: ?>
                            redirect:0
                        <?php endif; ?>"
                    data-load-indicator="Bulking"
                    data-request-confirm="<?= isset($bulk['custom_alert'])? e($bulk['custom_alert']):e($bulk['label'].' the selected records?'); ?>"
                    class="btn btn-default  <?= e($bulk['icon']) ?>"


                    <?php if(isset($bulk['color'])): ?>
                        style="background:<?= $bulk['color'] ?> "
                    <?php endif; ?>

                    >
                    <?= $bulk['label'] ?>
                </button>

                <?php
                endif;
                endforeach; ?>
            <?php endif ?>
            </div> -->
        </div>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <?php if(isset($show_update_btn) && $show_update_btn):   ?>
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <?php if($show_save_redirect): ?>
                    <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="<?= e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                        class="btn btn-default">
                        <?= e(trans('backend::lang.form.save_and_close')) ?>
                    </button>
                <?php endif ?>
                <span class="btn-text">
                     <?php if(isset($show_update_btn) && $show_update_btn): ?>
                    <?= e(trans('backend::lang.form.or')) ?>
                    <?php endif ?>
                    <a href="<?= Backend::url($cancel_url) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
            <?php endif ?>
        </div>

    <?php Block::endPut() ?>

    <?php Block::put('form-sidebar') ?>
        <div class="hide-tabs"><?= $this->formRenderSecondaryTabs() ?></div>
    <?php Block::endPut() ?>

<?php Block::put('body') ?>
<?= Form::open(['class'=>'layout stretch']) ?>
<?php
$layout = $with_side ? 'layouts/form-with-side' : 'layouts/form-no-side';

$common_form = Common\Helpers\Functions::common_path($layout)
?>
<?= $this->makeLayout($common_form) ?>
<?= Form::close() ?>
<?php Block::endPut() ?>

<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('rainlab/user/users') ?>" class="btn btn-default"><?= e(trans('rainlab.user::lang.users.return_to_list')) ?></a></p>
    </div>
<?php endif ?>
