<div data-control="toolbar">

    <?php if ($this->user->hasAccess('legato.mobileversion.create_mobile_version')): ?>
        <a
            href="<?= Backend::url('legato/mobileversion/mobileversion/create') ?>"
            class="btn btn-primary oc-icon-plus">
            New Mobile Version
        </a>
    <?php endif ?>

    <!--<?php if ($this->user->hasAccess('legato.mobileversion.delete_mobile_version')): ?>-->
        <!--<button-->
            <!--class="btn btn-danger oc-icon-trash-o"-->
            <!--disabled="disabled"-->
            <!--onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"-->
            <!--data-request="onDelete"-->
            <!--data-request-confirm="Are you sure you want to delete the selected Mobile Versions?"-->
            <!--data-trigger-action="enable"-->
            <!--data-trigger=".control-list input[type=checkbox]"-->
            <!--data-trigger-condition="checked"-->
            <!--data-request-success="$(this).prop('disabled', 'disabled')"-->
            <!--data-stripe-load-indicator>-->
            <!--Delete selected-->
        <!--</button>-->
    <!--<?php endif ?>-->
</div>
