<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('legato/mobileversion/mobileversion') ?>">Mobile Version</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError && $this->user->hasAccess('legato.mobileversion.create_mobile_version')): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating MobileVersion..."
                    class="btn btn-primary">
                    Create
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating MobileVersion..."
                    class="btn btn-default">
                    Create and Close
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('legato/mobileversion/mobileversion') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error">
        <?php if($this->fatalError): ?>
            <?= e($this->fatalError) ?>
        <?php else: ?>
            You have no right to create mobile version.
        <?php endif ?>
    </p>
    <p><a href="<?= Backend::url('legato/mobileversion/mobileversion') ?>" class="btn btn-default">Return to mobile version list</a></p>

<?php endif ?>
