<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('legato/mobileversion/mobileversion') ?>">Mobile Version</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php if ($this->user->hasAccess('legato.mobileversion.edit_mobile_version')): ?>

        <?= Form::open(['class' => 'layout']) ?>

            <div class="layout-row">
                <?= $this->formRender() ?>
            </div>

            <div class="form-buttons">
                <div class="loading-indicator-container">
                    <button
                        type="submit"
                        data-request="onSave"
                        data-request-data="redirect:0"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Saving Mobile Version..."
                        class="btn btn-primary">
                        <u>S</u>ave
                    </button>
                    <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Saving Mobile Version..."
                        class="btn btn-default">
                        Save and Close
                    </button>
                    <!--<?php if ($this->user->hasAccess('legato.mobileversion.delete_mobile_version')): ?>-->
                        <!--<button-->
                            <!--type="button"-->
                            <!--class="oc-icon-trash-o btn-icon danger pull-right"-->
                            <!--data-request="onDelete"-->
                            <!--data-load-indicator="Deleting Mobile Version..."-->
                            <!--data-request-confirm="Delete this mobile version?">-->
                        <!--</button>-->
                    <!--<?php endif ?>-->
                    <span class="btn-text">
                        or <a href="<?= Backend::url('legato/mobileversion/mobileversion') ?>">Cancel</a>
                    </span>
                </div>
            </div>

        <?= Form::close() ?>

    <?php else: ?>

        <div class="form-preview">
            <?= $this->formRenderPreview() ?>
        </div>

    <?php endif ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('legato/mobileversion/mobileversion') ?>" class="btn btn-default">Return to mobile version list</a></p>

<?php endif ?>
