<h2><?= e(trans('backend::lang.account.enter_new_password')) ?></h2>

<?= Form::open() ?>
    <input type="hidden" name="postback" value="1" />
    <input type="hidden" name="id" value="<?= $id ?>" />
    <input type="hidden" name="code" value="<?= $code ?>" />

    <div class="form-elements" role="form">
        <div class="form-group text-field horizontal-form october">

            <!-- Password -->
            <input
                type="password"
                name="password"
                value=""
                class="form-control password icon lock"
                placeholder="<?= e(trans('backend::lang.account.password_placeholder')) ?>"
                autocomplete="off"
                maxlength="255" />

            <!-- Submit Login -->
            <button type="submit" class="btn btn-primary pull-right">
                <?= e(trans('backend::lang.account.reset')) ?>
            </button>
        </div>
        <p style="color: rgba(255,255,255,0.44);"> <?= \Config::get('legato.backend::user.field_comment') ?></p>
        <p class="pull-right forgot-password">
            <a href="<?= Backend::url('backend/auth') ?>" class="text-muted">
                <?= e(trans('backend::lang.form.cancel')) ?>
            </a>
        </p>
    </div>
<?= Form::close() ?>
