<!--h2><?= e(Backend\Models\BrandSetting::get('app_tagline')) ?></h2-->
<script type="text/javascript"  src="https://www.google.com/recaptcha/api.js"></script>
<?= Form::open() ?>
<div class="row">
    <input type="hidden" name="postback" value="1" />
    <div class="form-elements col-sm-9" role="form" style="float: none;margin: 0 auto; max-width: 332px">
        <!--div class="form-group text-field horizontal-form october"-->
        <div class="form-group text-field october">

            <!-- Login -->
            <input
                type="text"
                name="login"
                value="<?= e(post('login')) ?>"
                class="form-control icon user"
                style="margin-bottom: 10px;"
                placeholder="<?= e(trans('backend::lang.account.login_placeholder')) ?>"
                autocomplete="off"
                maxlength="255" />

            <!-- Password -->
            <input
                type="password"
                name="password"
                value=""
                class="form-control icon lock"
                style="margin-bottom: 10px;"
                placeholder="<?= e(trans('backend::lang.account.password_placeholder')) ?>"
                autocomplete="off"
                maxlength="255" />
            <?= $captcha ?> 
            <!-- Submit Login -->
            <button type="submit" class="btn btn-primary login-button " style="width:100%;text-align: center;">
                <?= e(trans('backend::lang.account.login')) ?>
            </button>
        </div>

        <?php if (is_null(config('cms.backendForceRemember', true))) : ?>
            <!-- Remember checkbox -->
            <div class="form-group checkbox-field horizontal-form remember">
                <div class="checkbox custom-checkbox">
                    <input
                        type="checkbox"
                        id="remember"
                        name="remember" />
                    <label for="remember">
                        <?= e(trans('backend::lang.account.remember_me')) ?>
                    </label>
                </div>
            </div>
        <?php endif; ?>

        <p class="oc-icon-lock pull-right forgot-password">
            <!-- Forgot your password? -->
            <a href="<?= Backend::url('legato/backend/auth/restore') ?>" class="text-muted">
                <?= e(trans('backend::lang.account.forgot_password')) ?>
            </a>
        </p>

    </div>
</div>
<?= Form::close() ?>

<?= $this->fireViewEvent('backend.auth.extendSigninView') ?>
