<div class="control-pupup fade">
    <div class="table-responsive">
        <?= Form::open() ?>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td><b>Please select</b></td>
                    <td><button type="button" class="close" data-dismiss="popup" aria-hidden="true">&times;</button></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button  data-request = "onExportOptions"  class="btn btn-primary btn-sm oc-icon-download"> Export </button>
                    </td>
                    <td>
                        Date range:
                        <div class="field-datepicker" data-control="datepicker">
                            <input type="text" style="padding-left:15px;"  autocomplete="off" data-datepicker    name="from_date" placeholder="Start Date"/>
                            To
                            <input type="text" style="padding-left:15px" data-datepicker autocomplete="off" name="to_date" placeholder="End Date" /><br />
                        </div><br />

                        Section:
                        <select class="form-control custom-select" name="section">
                            <option value="">All</option>

                            <?php \Log::info($sections); if(!empty($sections)): ?>
                                <?php foreach($sections as $section): ?>
                                    <option value="<?= $section['section'] ?>"><?= $section['section'] ?></option>
                                <?php endForeach ?>
                            <?php endif ?>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        <?= Form::close() ?>
    </div>
</div>
