Dear {{name}},

According to the records, Your current IP address:<b>{{new_ip}}</b> is different from the latest ip which you accessed CMS successful. For security, Please confirm this ip is yourself.

<table class="action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <a href="{{ link }}" class="button button-primary" target="_blank">
                                        It's Myself
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>