Dear parent,<br /> <br />

    Welcome and thank you for your registration as a member of Learning Time. <br />
    Please click the blow button to verify your E-mail:<br />

<table class="action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <a href="{{ link }}" class="button button-primary" target="_blank">
                                       Verify Now
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>