Dear {{name}}, <br /><br />
    According to your latest request to reset your password at Learning Time. If it is not yourself, please ignore this email.<br />
    Please use the following link to get your password:<br />
<table class="action" align="center" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <a href="{{ link }}" class="button button-primary" target="_blank">
                                        Get Now
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>